// Define variables for your color scheme

// For example:
$red: #FF395B;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$rose: #FF395B;
$rosedark: #D70867;
$airbnb: linear-gradient(90deg, #E6224E 0%, #D70867 100%);
$noir: #222222;
$gris: #717171;
$grisclair: #CBCBCB;
$gristresclair: #DDDDDD;
