.home-container {
    height: 100vh;
}

.container-global {
  background-color:white;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  background-size: cover;


  &.with-bg {
    background-image: asset-url("homme-cheveux-permanentes.jpg");
    background-position: center;
    background-size: cover;
  }

  &.search-bar{
    width: 100vw;
    height: 15vh;
    
  }


  h2 {
    color:white;
  }

  .btn-container  {
    text-align: center;
    width: 350px;
  }

  .btn {
    width: 200px;
  }

  .btn:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.8);

  }
}

#my-footer{
  height: 100px;
}
.list-inline{
  display: flex;
  align-items: center;
  height: 100%;
}

.list-inline li{
  padding: 20px;
  font-size: 20px;


  .fab{
    color: #dd135b;
  }
}

.list-inline li:hover {
  .fab{
    color: rgba(221, 19, 91, 0.8);
}
}
