<div class="container-global">
  <div>
   BAR DE RECHERCHE
  </div>
  <div class="border-t-gris color-card">
    <h2>Avec Hairbnb, fini la calvitie </h2>
    <div class="flex">
      <% @hair_colors.each do |color| %>
        <%= render "shared/color_hair_card", color: color %>
      <% end %>
    </div>
  </div>
  <div class="top-card">
    <h2>Les meilleurs cheveulures</h2>
    <h3 id="h3">Découvrez une sélection des chevelures les mieux notées dans le monde</h3>
    <div class="flex">
      <% @hairs.each do |hair| %>
        <%= render "shared/top_hair_card", hair: hair %>
      <% end %>
    </div>
  </div>
  <div class="hair-card">
    <h3>Classement par dates de mise en ligne</h3>
    <div class="flex">
      <% @hairs.each do |hair| %>
        <%= render "shared/hair-card", hair: hair %>
      <% end %>
    </div>
  </div>
</div>
