<!-- COLOR HAIR CARD -->
<div>
  <div class="color_hair_card ml-2" style="background-image: url('<%= image_path "Chewbacca.jpg" %>')">
    <div class="car_footer">
      <h4>Hair color</h4>
    </div>
  </div>
</div>
