<!-- COLOR HAIR CARD -->
<div>
  <div class="color_hair_card" style="background-image: url('<%= image_path "colors/#{color}.jpg" %>')">
    <div class="car_footer">
      <h4>Cheveux <%= color %></h4>
    </div>
  </div>
</div>
