<!-- HAIR CARD -->
<div>
    <div class="hair_card mr-2" style="background-image: url('<%= image_path "Chewbacca.jpg" %>')">
      <i id="bg" class="fas fa-heart"></i>
      <i class="far fa-heart"></i>
    </div>
    <h3>Chocolat | Kashyyyk</h3>
  </div>
