<!-- NATURE HAIR CARD -->
<div>
  <div class="nature_hair_card" style="background-image: url('<%= image_path "nature_hair/#{nature}.svg" %>')">
    <div class="car_footer">
      <h4><%= nature %></h4>
    </div>
  </div>
</div>
