<!-- TOP HAIR CARD -->
 <div>
  <div class="hair_card" style="background-image: url('<%= image_path "Chewbacca.jpg" %>')">
    <i id="bg" class="fas fa-heart"></i>
    <i class="far fa-heart"></i>
  </div>
  <div class="flex">
    <i class="fas fa-star"></i>
    <h4>5</h4>
    <h4>(398)</h4>
  </div>
  <h3>Chocolat | Kashyyyk</h3>
</div>
