<div class="navbar-bg navbar-content d-flex space-between">
   <%= link_to "Hairbnb", "/ruby-book", class: "logo" %>
   <%= link_to "Sign in", " /users/edit", class: "btn" %>
</div>

<div class="container-global with-bg d-flex">
     <div class="btn-container">
        <%= link_to "Recherchez une chevelure", "/ruby-book", class: "btn" %>
        <h2>Avec Hairbnb, fini la calvitie</h2>
      </div>
      <div class="btn-container">
        <%= link_to "Louez votre chevelure", "/ruby-book", class: "btn" %>
        <h2>Vos cheveux peuvent rendre heureux </h2>
      </div>
    </div>
  </div>
</div>

<div id="my-footer">
  <ul class="list-inline">
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></li>
    <li><a href="#"><i class="fab fa-twitter-square"></i></li>
    <li><a href="#"><i class="fab fa-youtube"></i></li>
  </ul>
</div>
