
<div class="img-sign-in">
  <div class="container-global container-home with-bg d-flex">

       <div class="btn-container">
          <%= link_to "Recherchez une chevelure", hairs_path, class: "btn-1" %>
          <h2>Avec Hairbnb, fini la calvitie</h2>
        </div>
        <div class="btn-container">
          <%= link_to "Louez votre chevelure", new_hair_path, class: "btn-1" %>
          <h2>Vos cheveux peuvent faire des heureux </h2>
        </div>
  </div>
</div>
