#hair_color_brun ~ label {
    background-image: url("colors/brun.jpg");
}

#hair_color_chatain ~ label {
    background-image: url("colors/chatain.jpg");
}

#hair_color_noir ~ label {
    background-image: url("colors/noir.jpg");
}

#hair_color_blond ~ label {
    background-image: url("colors/blond.jpg");
}

#hair_color_blanc ~ label {
    background-image: url("colors/blanc.jpg");
}

#hair_color_rouge ~ label {
    background-image: url("colors/rouge.jpg");
}

#hair_color_cendre ~ label {
    background-image: url("colors/cendre.jpg");
}

#hair_color_roux ~ label {
    background-image: url("colors/roux.jpg");
}

#hair_color_bleu ~ label {
    background-image: url("colors/bleu.jpg");
}

#hair_nature_ondule ~ label {
    background-image: url("natures/ondule.svg");
    background-size: contain;
}

#hair_nature_boucle ~ label {
    background-image: url("natures/boucle.svg");
    background-size: contain;
}

#hair_nature_raide ~ label {
    background-image: url("natures/raide.svg");
    background-size: contain;
}

#hair_nature_crepu ~ label {
    background-image: url("natures/crepu.svg");
    background-size: contain;
}

