#hair_color_brun ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016880/brun_clcria.jpg");
}

#hair_color_chatain ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016888/chatain_vx2dnl.jpg");
}

#hair_color_noir ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016892/noir_gfdc17.jpg");
}

#hair_color_blond ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016913/blond_oouyc8.jpg");
}

#hair_color_blanc ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016905/blanc_oqozhg.jpg");
}

#hair_color_rouge ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016897/rouge_k4a0r8.jpg");
}

#hair_color_cendre ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016883/cendre_ospnuz.jpg");
}

#hair_color_roux ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016901/roux_bcztds.jpg");
}

#hair_color_bleu ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598016908/bleu_xwnlu4.jpg");
}

#hair_nature_ondule ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598018259/ondule_ywkh2u.png");
    background-size: contain;
}

#hair_nature_boucle ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598018252/boucle_gpajtm.png");
    background-size: contain;
}

#hair_nature_raide ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598018246/raide_dnj1cb.png");
    background-size: contain;
}

#hair_nature_crepu ~ label {
    background-image: url("https://res.cloudinary.com/dvlbdpxht/image/upload/v1598018256/crepu_sgdzoa.png");
    background-size: contain;
}

