.btn {


  background: linear-gradient(90deg, #E6224E 0%, #D70867 100%);
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
/* identical to box height */

  text-align: center;
  letter-spacing: -0.333333px;

color: #FFFFFF;

}
