
#lien_out {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// HAIR CARD & TOP ==========
.hair_card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 112px;
  width: 170px;
  background-size: cover;
  i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $noir;
  }
  h3 {
    text-align: start;
  }
}

#bg {
  color: rgba(250, 250, 250, 0.5);
}

// TOP HAIR CARD ==========
.flex {
  display: flex;
  text-align: start;
  padding-bottom: 10px;
  h4 {
    padding-right: 5px;
    margin-bottom: 0px;
  }
  i {
    padding-right: 5px;
    color: $rose;
  }
}

// COLOR HAIR CARD ==========
.color_hair_card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 112px;
  width: 130px;
  background-size: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  .car_footer {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 33%;
    padding-left: 12px;
    border-radius: 0px 0px 5px 5px;
    margin: auto;
    font-weight: bold;
    h4 {
      position: absolute;
      top: 33%;
      font-weight: bold;
    }
  }
}
