
#lien_out {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// HAIR CARD & TOP ==========
.hair_card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 112px;
  width: 170px;
  background-size: cover;
  i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $noir;
  }
  h3 {
    text-align: start;
  }
}

#bg {
  color: rgba(250, 250, 250, 0.5);
}

// TOP HAIR CARD ==========
.flex {
  display: flex;
  text-align: start;
  padding-bottom: 10px;
  h4 {
    padding-right: 5px;
    margin-bottom: 0px;
  }
  i {
    padding-right: 5px;
    color: $rose;
  }
}

// COLOR HAIR CARD ==========
.color_hair_card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 112px;
  width: 130px;
  background-size: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  .car_footer {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 33%;
    padding-left: 12px;
    border-radius: 0px 0px 5px 5px;
    margin: auto;
    font-weight: bold;
    h4 {
      position: absolute;
      top: 33%;
      font-weight: bold;
    }
  }
}

.card-location {
  background-size: cover;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  display: flex;
  // justify-content: start;
  align-items: center;

  img {
    vertical-align: middle;
    border-style: none;
    background-size: cover;
    width: 50%;
    border-radius: 10px;
  }
  .radius{
    padding:5%;

  }
}

.enf1{
flex-grow: 0;
// padding-right: 20px;
}

.enf2{
flex-grow: 1;
}

 .photo_proprio{
  object-fit: content;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
 }

// NATURE HAIR CARD ==========
.nature_hair_card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  height: 112px;
  width: 130px;
  background-size: contain;
  /*background-repeat: no-repeat;*/
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

  .car_footer {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 33%;
    padding-left: 12px;
    border-radius: 0px 0px 5px 5px;
    margin: auto;
    font-weight: bold;
    h4 {
      position: absolute;
      top: 33%;
      font-weight: bold;
    }
  }
}

