h1 {
  font-size: 26px;
  color: $noir;
}

h2 {
  font-size: 22px;
  color: $noir;
}

h3 {
  font-size: 16px;
  color: $noir;
}

h4 {
  font-size: 14px;
  color: $noir;
}

p {
  font-size: 10px;
  color: $noir;
}
