.container-new-formulaire {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

label {
    color: #D80A65;
    cursor: default;
}

.text-required {
    text-decoration: none;
}