.navbar-bg {
  position: relative;
  top: 0px;
  width: 100vw;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  padding: 16px 80px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.av-hover {
  position: relative;
  padding: 5px 5px 5px 10px;
  &:hover {
  background-color: $gristresclair;
  border-radius: 50px;
  transition-duration: 200ms;
  }
}
