// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container-global {
  padding: 40px;
  background-color: white;
}

.border-t-gris {
  border-top: 1px solid $gristresclair;
}

h1 {
  font-size: 26px;
  color: $noir;
}

h2 {
  font-size: 22px;
  color: $noir;
}

h3 {
  font-size: 16px;
  color: $noir;
}

h4 {
  font-size: 14px;
  color: $noir;
}

p {
  font-size: 10px;
  color: $noir;
}
