<div class="container_formulaire">
  <div class="card_formulaire">
    <h3 class="titre_form"> Durée de location :  </h3>
    <%= simple_form_for([@hair, @location]) do |f| %>
      <%= f.input :start_date, as: :string, input_html: {type: :date} %>
      <%= f.input :end_date, as: :string, input_html: {type: :date} %>
      <%= f.submit  'Vérifier la disponibilité', class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
